<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correct Your Life</title>
    <link rel="stylesheet" href="homestyles.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="better_logo.jpg" alt="Logo">
        </div>
        <h1>Correct Your Life</h1>
    </header>
    <main>
        <div class="content">
            <h2>Embrace the challenge</h2>
            <p>Elevate your journey to a healthier you. Better Your Life, better every day!</p>
            <div class="buttons">
                <button id="registerBtn">Register</button>
                <button id="loginBtn">LOG-IN</button>
            </div>
        </div>
    </main>

    <div class="popup" id="popup">
        <div class="popup-content">
            <span class="close" id="closePopup">&times;</span>
            <h2 id="popupTitle">Login</h2>
            <form id="popupForm">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <button type="submit" class="btn">Sign in</button>
            </form>
        </div>
    </div>

    <footer>
        <p>&copy; COPYRIGHT 2024</p>
    </footer>
    <script src="homescript.js"></script>
</body>
</html>
