body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    color: white;
}

body {
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 10rem;
   
}

header .logo img {
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
    
}

header h1 {
    font-size: 36px;
}

main .content {
    margin-top: auto;
    margin-bottom: auto;
}

main h2 {
    font-size: 32px;
    margin: 20px 0;
}

main p {
    font-size: 18px;
    margin: 10px 0 20px;
}

main .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

main .buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 5%;
}

main .buttons button:first-child {
    background-color: #1E90FF;
    color: white;
}

main .buttons button:last-child {
    background-color: #1E90FF;
    color: white;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

footer p {
    margin: 0;
    font-size: 14px;
}


/* popup */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    text-align: left;
}

.popup-content {
    background-color: white;
    color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    position: relative;
    border-radius: 10px;
}

.popup-content h2 {
    margin-top: 0;
}

.popup-content .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.popup-content form {
    display: flex;
    flex-direction: column;
}

.popup-content label {
    margin-top: 10px;
    font-size: 14px;
}

.popup-content input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}   

.popup-content button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1E90FF;
    color: white;
}


